!!! 5
html(lang="en")
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Java Framework Tutorial
		meta(name='description', content='Collection of Java based frameworks with proper screenshots and code.')
		// Styling
		link(href='http://localhost:3000/stylesheets/bootstrap.css', rel='stylesheet')
		link(href='http://localhost:3000/stylesheets/codersstop-styling.css', rel='stylesheet')
	body
		#nav-top.row
			ul
				li
					a(href='/advertise-on-codersstop', rel='nofollow') Advertise
				li
					a(href='/write-for-us/', rel='nofollow') Write for us
				li
					a(href='/rss-feed/', rel='nofollow') RSS Feed
				li
					a(href='/contact-codersstop/', rel='nofollow') Contact Us
		.row
			#banner.span12
				img(src='http://localhost:3000/images/blogger.png', alt='CodersStop')
		.row
			#navbar-options
				ul.navbar-menu.nav-pills
					li
						a(href='Home') Home
					li.dropdown
						a.dropdown-toggle(data-hover='dropdown', href='#') Java
						ul.dropdown-menu.navbar-dropdown-menu
							h1 Java
							a(href='#')
								img(src='http://localhost:3000/images/javascript-logo.png', alt='java_logo_100')
							li(data-filter-java-option='JVC')
								a(data-toggle='modal', href='#') 1. JVC
							li(data-filter-java-option='JVC')
								a(data-toggle='modal', href='#') 2. JVC
							li(data-filter-java-option='JVC')
								a(data-toggle='modal', href='#') 3. JVC
							li(data-filter-java-option='JVC')
								a(data-toggle='modal', href='#') 4. JVC
					li.dropdown
						a.dropdown-toggle(data-hover='dropdown', href='#') Spring
						ul.dropdown-menu.navbar-dropdown-menu
							h1 Spring
							a(href='#')
								img(src='http://localhost:3000/images/javascript-logo.png', alt='java_logo_100')
							li(data-filter-java-option='JVC')
								a(data-toggle='modal', href='#') 1. JVC
							li(data-filter-java-option='JVC')
								a(data-toggle='modal', href='#') 2. JVC
							li(data-filter-java-option='JVC')
								a(data-toggle='modal', href='#') 3. JVC
							li(data-filter-java-option='JVC')
								a(data-toggle='modal', href='#') 4. JVC
					li.dropdown
						a.dropdown-toggle(data-hover='dropdown', href='#') Hibernate
						ul.dropdown-menu.navbar-dropdown-menu
							h1 Hibernate
							a(href='#')
								img(src='http://localhost:3000/images/javascript-logo.png', alt='java_logo_100')
							li(data-filter-java-option='JVC')
								a(data-toggle='modal', href='#') 1. JVC
							li(data-filter-java-option='JVC')
								a(data-toggle='modal', href='#') 2. JVC
							li(data-filter-java-option='JVC')
								a(data-toggle='modal', href='#') 3. JVC
							li(data-filter-java-option='JVC')
								a(data-toggle='modal', href='#') 4. JVC
					li.dropdown
						a.dropdown-toggle(data-hover='dropdown', href='#') JS
						ul.dropdown-menu.navbar-dropdown-menu
							h1 JS
							a(href='#')
								img(src='http://localhost:3000/images/javascript-logo.png', alt='java_logo_100')
							li(data-filter-java-option='JVC')
								a(data-toggle='modal', href='#') 1. JVC
							li(data-filter-java-option='JVC')
								a(data-toggle='modal', href='#') 2. JVC
							li(data-filter-java-option='JVC')
								a(data-toggle='modal', href='#') 3. JVC
							li(data-filter-java-option='JVC')
								a(data-toggle='modal', href='#') 4. JVC
					li.dropdown
						a.dropdown-toggle(data-hover='dropdown', href='#') Node.js
						ul.dropdown-menu.navbar-dropdown-menu
							h1 Node.js
							a(href='#')
								img(src='http://localhost:3000/images/javascript-logo.png', alt='java_logo_100')
							li(data-filter-java-option='JVC')
								a(data-toggle='modal', href='#') 1. JVC
							li(data-filter-java-option='JVC')
								a(data-toggle='modal', href='#') 2. JVC
							li(data-filter-java-option='JVC')
								a(data-toggle='modal', href='#') 3. JVC
							li(data-filter-java-option='JVC')
								a(data-toggle='modal', href='#') 4. JVC
				#search-form
					form.form-search
						input.input-medium.search-query(type='text')
						button.btn(type='submit') Search
		
		script(type='text/javascript', src='http://localhost:3000/javascripts/jquery.js')
		script(type='text/javascript', src='http://localhost:3000/javascripts/bootstrap-dropdown.js')
		script(type='text/javascript', src='http://localhost:3000/javascripts/bootstrap-dropdown-hover.js')
		script(type='text/javascript', src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js")
		script(type='text/javascript').
			$(document).ready(function () {
				$('.dropdown-toggle').dropdown();
			});
			function insertCommentBlock(Id) {
					var commentBlock = $('#commentBlock');
					var pComment = '#' + Id.parentNode.id;
					var parentComment = $(pComment);
					parentComment.append(commentBlock);
			}
		
		.row
			#article-container.span10
				.article-content
					h1#article-1
						| #{article.title}
					.article-meta-data
						p(style='font-size:14px')
							| #{article.date} | Tags: 
							span.article-tag
								each tag, i in article.tags
									if i < article.tags.length - 1
										a(href=tag.link) #{tag.text}, 
									else
										a(href=tag.link) #{tag.text}
					p
						| #{article.content.texts.text1}
					pre.prettyprint(style='font-size: 15px; font-weight: 600;').
						#{article.content.codes.code1}
            
				.comment(style="width:760px;margin-top:20px;")
					h2 Comments:-
					.accordion-group(style='width: 760px; margin: 30px 0px 5px 5px; border-width: 3px;')
						.accordion-heading
							p.accordion-toggle(style='padding-bottom: 0px; font-weight: bold;')
								| Vivek
								span.pull-right  September 12, 2013 at 11:34pm
						#prerequisites
							.accordion-inner
								#comment0.commentText
									p#form-prerequisites
										| Facebook is a social networking site where you can connect with any other person in th
										| Connect with friends and the world around you on Facebook. You can also create your profile
										| facebook free of cost. Facebook is an online social networking service. Its name stems from 
										| colloquial name for the book given to students at the start of the academic year by some AmericanFacebook is a social networking site where you can connect with any other person in the worl
										| Connect with friends and the world around you on Facebook. You can also create your profile
										| facebook free of cost. Facebook is an online social networking service. Its name stems from
										| colloquial name for the book given to students at the start of the academic year by some AmericanFacebook is a social networking site where you can connect with any other person in the wo
										| Connect with friends and the world around you on Facebook. You can also create your
										| facebook free of cost. Facebook is an online social networking service. Its name stems from
										| colloquial name for the book given to students at the start of the academic year by some AmericanFacebook is a social networking site where you can connect with any other person in the
										| Connect with friends and the world around you on Facebook. You can also create your profile on
									a.pull-right(onclick='insertCommentBlock(this)' type="submit" style='cursor:pointer') Reply
								.accordion-group(style='margin: 30px 0px 5px 5px; border-width: 3px;')
									.accordion-heading
										p.accordion-toggle(style='padding-bottom: 0px; font-weight: bold;')
											| Vivek
											span.pull-right  September 12, 2013 at 11:34pm
										#prerequisites.collapse.in
											.accordion-inner
												#comment0-0.commentText
													p
														| Facebook is a social networking site where you can connect with any other person in
													a.pull-right(onclick='insertCommentBlock(this)' style='margin-bottom:5px' type="submit" style='cursor:pointer') Reply
				
				#commentBlock.comment-form
					p
						strong
							| Comment:
						| (Your email address will not be published.)
					small
						a#cancel-comment-reply-link.pull-right(style='color:red;', href='/java/how-to-take-input-from-user-in-java', rel='nofollow') Cancel Reply
							//.cancel-reply(style='margin-left:500px;padding: 10px;') Cancel Reply
					form#commentForm
						.controls.controls-row
							input#name.span3(name='name', type='text', placeholder='Name', required='required')
						div
							input#email.span3(name='email', type='email', placeholder='Email address', required='required')
						.controls
							textarea#message(name='message', placeholder='Your comment', rows='10' style='width:720px', required='required')
						.controls
							button#contact-submit.btn.btn-primary.input-medium(type='submit') Comment								
		#footer-container
			#footer-row.row
				.span3
					h3 Fontend Development:
					p HTML4.0, XHTML1.0, CSS2.1, HTML5, CSS3, JavaScript
				.span3
					h3 Backend Developemt:
					p PHP, Ruby, Python, Java, ASP.NET, SCALA
				.span3
					h3 Database Management:
					p SQL, MySQL POstgreSQL, NoSQL, MongoDB
				.span3
					h3 APIs, Tools and Tips:
					p Google Plus API, Twitter Bootstrap, JSON, Firebug, WebPNG

