!!! 5
html(lang="en")
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Java Framework Tutorial
		meta(name='description', content='Collection of Java based frameworks with proper screenshots and code.')
		// Styling
		link(href='http://localhost:3000/stylesheets/bootstrap.css', rel='stylesheet')
		link(href='http://localhost:3000/stylesheets/codersstop-styling.css', rel='stylesheet')
	body
		#nav-top.row
			ul
				li
					a(href='/advertise-on-codersstop', rel='nofollow') Advertise
				li
					a(href='/write-for-us/', rel='nofollow') Write for us
				li
					a(href='/rss-feed/', rel='nofollow') RSS Feed
				li
					a(href='/contact-codersstop/', rel='nofollow') Contact Us
		.row
			#banner.span12
				img(src='http://localhost:3000/images/blogger.png', alt='CodersStop')
		.row
			#navbar-options
				ul.navbar-menu.nav-pills
					li
						a(href='http://localhost:3000/') Home
					li.dropdown
						a.dropdown-toggle(data-hover='dropdown', href='#') Java
						ul.dropdown-menu.navbar-dropdown-menu
							h1 Java
							a(href='#')
								img(src='http://localhost:3000/images/java-logo.jpg', alt='java_logo_100',height='150', width='150', style='border:1px solid #DDD; padding:5px 2px 10px 2px')
							li(data-filter-java-option='JVC')
								a(data-toggle='modal', href='#') 1. JVC
							li(data-filter-java-option='JVC')
								a(data-toggle='modal', href='#') 2. JVC
							li(data-filter-java-option='JVC')
								a(data-toggle='modal', href='#') 3. JVC
							li(data-filter-java-option='JVC')
								a(data-toggle='modal', href='#') 4. JVC
					li.dropdown
						a.dropdown-toggle(data-hover='dropdown', href='#') Spring
						ul.dropdown-menu.navbar-dropdown-menu
							h1 Spring
							a(href='#')
								img(src='http://localhost:3000/images/springframework-logo.png', alt='java_logo_100',height='150', width='150', style='border:1px solid #DDD; padding:5px 2px 10px 2px')
							li(data-filter-java-option='JVC')
								a(data-toggle='modal', href='#') 1. JVC
							li(data-filter-java-option='JVC')
								a(data-toggle='modal', href='#') 2. JVC
							li(data-filter-java-option='JVC')
								a(data-toggle='modal', href='#') 3. JVC
							li(data-filter-java-option='JVC')
								a(data-toggle='modal', href='#') 4. JVC
					li.dropdown
						a.dropdown-toggle(data-hover='dropdown', href='#') Hibernate
						ul.dropdown-menu.navbar-dropdown-menu
							h1 Hibernate
							a(href='#')
								img(src='http://localhost:3000/images/hibernate-logo.jpg', alt='java_logo_100',height='150', width='150', style='border:1px solid #DDD; padding:5px 2px 10px 2px')
							li(data-filter-java-option='JVC')
								a(data-toggle='modal', href='#') 1. JVC
							li(data-filter-java-option='JVC')
								a(data-toggle='modal', href='#') 2. JVC
							li(data-filter-java-option='JVC')
								a(data-toggle='modal', href='#') 3. JVC
							li(data-filter-java-option='JVC')
								a(data-toggle='modal', href='#') 4. JVC
					li.dropdown
						a.dropdown-toggle(data-hover='dropdown', href='#') JS
						ul.dropdown-menu.navbar-dropdown-menu
							h1 JS
							a(href='#')
								img(src='http://localhost:3000/images/javascript-logo.jpg', alt='java_logo_100',height='150', width='150', style='border:1px solid #DDD;')
							li(data-filter-java-option='JVC')
								a(data-toggle='modal', href='#') 1. JVC
							li(data-filter-java-option='JVC')
								a(data-toggle='modal', href='#') 2. JVC
							li(data-filter-java-option='JVC')
								a(data-toggle='modal', href='#') 3. JVC
							li(data-filter-java-option='JVC')
								a(data-toggle='modal', href='#') 4. JVC
					li.dropdown
						a.dropdown-toggle(data-hover='dropdown', href='#') Node.js
						ul.dropdown-menu.navbar-dropdown-menu
							h1 Node.js
							a(href='#')
								img(src='http://localhost:3000/images/nodejs-logo.jpg', alt='java_logo_100',height='150', width='150', style='border:1px solid #DDD;')
							li(data-filter-java-option='JVC')
								a(data-toggle='modal', href='#') 1. JVC
							li(data-filter-java-option='JVC')
								a(data-toggle='modal', href='#') 2. JVC
							li(data-filter-java-option='JVC')
								a(data-toggle='modal', href='#') 3. JVC
							li(data-filter-java-option='JVC')
								a(data-toggle='modal', href='#') 4. JVC
				#search-form
					form.form-search
						input.input-medium.search-query(type='text')
						button.btn(type='submit') Search
		
		script(type='text/javascript', src='http://localhost:3000/javascripts/jquery.js')
		script(type='text/javascript', src='http://localhost:3000/javascripts/bootstrap-dropdown.js')
		script(type='text/javascript', src='http://localhost:3000/javascripts/bootstrap-dropdown-hover.js')
		script(type='text/javascript', src="http://localhost:3000/javascripts/run_prettify.js")
		script(type='text/javascript').
			$(function(){
				var text = '{(mb)\\b[^}]*}(.*?){/\\1}';
					$('p').html( function (i, html) {
						var regexp, replacement;
						regexp = RegExp(text , 'gi');
						replacement = '<b>$2</b>';
						
						return html.replace(regexp, replacement);
					});
			});
		script(type='text/javascript').
			$(document).ready(function () {
				$('.dropdown-toggle').dropdown();
			});
			function insertCommentBlock(Id) {
				var commentBlock = $('#commentBlock');
				var pComment = '#' + Id.parentNode.id;
				var parentComment = $(pComment);
				parentComment.append(commentBlock);
			}
			function putCommentBlockBack(){
				var commentBlock = $('#commentBlock');
				var parentComment= $('#commentContainer');
				parentComment.append(commentBlock);					
			}
			function insertNewComment(userName, userEmail, userMessage, Id) {
				var articleID = document.getElementById("articleID").innerHTML;
				var username = userName.value;
				var useremail = userEmail.value;
				var usermessage = userMessage.value;
				var parentCommentId = Id.parentNode.id;
				var xmlhttp;
				var message  = "Welcome " + username + " your emailID is " + useremail + " your message " + usermessage;	
				if (window.XMLHttpRequest)
				{// code for IE7+, Firefox, Chrome, Opera, Safari
					xmlhttp=new XMLHttpRequest();
				}
				else
				{// code for IE6, IE5
					xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
				}
				
				xmlhttp.onreadystatechange=function() {
					if (xmlhttp.readyState==4 && xmlhttp.status==200)
					{       putCommentBlockBack();
					//	alert(xmlhttp.responseText);
						location.reload()
					}
				}
				
				var data = JSON.stringify({"articleID": articleID, "parentID" : parentCommentId, "userName" : username, "userEmail" : useremail, "userMessage" : usermessage});
				var url = "/addComment";
				xmlhttp.open("POST",url,true);
				xmlhttp.setRequestHeader("Content-Type", "text/json");
				xmlhttp.send(data);				
				
				return false;
			}
		.row
			#article-container.span10
				p#articleID(style="display:none")
					| #{article.articleId}
				.article-content
					h1#article-1
						| #{article.title}
					.article-meta-data
						p(style='font-size:14px')
							| #{article.date} | Tags: 
							span.article-tag
								each tag, i in article.tags
									if i < article.tags.length - 1
										a(href=tag.tagLink) #{tag.text}, 
									else
										a(href=tag.tagLink) #{tag.text}
					p 
						| #{article.content.texts.text1}
					pre.codeBlock.prettyprint.
						#{article.content.codes.code1}
					p
						| #{article.content.texts.text2}
					p
						| #{article.content.texts.text3}
				#commentContainer.comment(style="width:760px;margin-top:20px;")
					h3 Comments:-
					each comment in article.comments
						#commentBox.accordion-group.collapse.in
							.accordion-heading
								p.accordion-toggle(style='font-weight: bold;')
									| #{comment.author}
									span.pull-right  #{comment.date}
							.accordion-inner.commentText(id=comment.id)
								p#form-prerequisites
									| #{comment.text}
								each child in comment.children
									.accordion-group.collapse.in(style='margin: 30px 0px 5px 5px; border-width: 3px;')
										.accordion-heading
											p.accordion-toggle(style='padding-bottom: 0px; font-weight: bold;')
												| #{child.author}
												span.pull-right  #{child.date}
										.accordion-inner.commentText
											p#form-prerequisites
												| #{child.text}
								button#contact-submit.btn.pull-right(type='submit', onclick='insertCommentBlock(this)',  style='margin: 0px 5px 5px 5px;') Reply
				#commentBlock.comment-form
					p
						strong
							| Comment:
						|   (Your email address will not be published.)
					small
						a#cancel-comment-reply-link.pull-right(onclick='putCommentBlockBack()' style='color:red;' href='javascript:void(0)' rel='nofollow') Cancel
							//.cancel-reply(style='margin-left:500px;padding: 10px;') Cancel Reply
					form#commentForm(onsubmit="return insertNewComment(userName, userEmail, userMessage, this.parentNode)")
						.controls.controls-row
							input#userName.span3(name='name', type='text', placeholder='Name', required='required')
						div
							input#userEmail.span3(name='email', type='email', placeholder='Email address', required='required')
						.controls
							textarea#userMessage(name='message', placeholder='Your comment', rows='10' style='width:720px', required='required')
						.controls
							button#contact-submit.btn.btn-primary.input-medium(type='submit') Comment								
		#footer-container
			#footer-row.row
				.span3
					h3 Fontend Development:
					p HTML4.0, XHTML1.0, CSS2.1, HTML5, CSS3, JavaScript
				.span3
					h3 Backend Developemt:
					p PHP, Ruby, Python, Java, ASP.NET, SCALA
				.span3
					h3 Database Management:
					p SQL, MySQL POstgreSQL, NoSQL, MongoDB
				.span3
					h3 APIs, Tools and Tips:
					p Google Plus API, Twitter Bootstrap, JSON, Firebug, WebPNG

